/* 
    font-family: 'Cairo', sans-serif;
    font-family: 'Genos', sans-serif; 
*/

:root {
    --cairo: "Cairo", sans-serif;
    --genos: "Genos", sans-serif;
    --black: #000000;
    --gray: #3D3A3A;
    --white: #FFFFFF;
    --red: #FF0000;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}



body {
    font-family: var(--genos);
    font-style: normal;
    font-size: 21px;
    color: var(--white);

    background-color: var(--black);
}

.container {
    width: 428px;
    margin: 34px auto;
}

.card {
    width: 396px;
    height: 395px;
    margin-left: 13px;
    margin-bottom: 10px;
    position: relative;
    border-width: 2px 2px 0px 0px;
    border-style: solid;
    border-color: var(--red);
    border-radius: 0 30px 0 0;
}

.card__aside {
    position: absolute;
    width: 94px;
    height: 37px;
    left: -9px;
    top: -15px;
    background: var(--black);
}

.card__text {
    margin-left: 20px;
    width: 69px;
    height: 28px;
    font-family: var(--cairo);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: var(--red);
}

.card__day {
    position: absolute;
    width: 66px;
    height: 36px;
    left: 15px;
    top: 17px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: var(--white);
}

.card__month {
    position: absolute;
    width: 65px;
    height: 21px;
    left: 15px;
    top: 52px;
    background: var(--white);
    border-radius: 6px;
    font-weight: 700;
    font-size: 25px;
    line-height: 15px;
    color: var(--black);
    text-align: center;
}

.card__images {
    position: absolute;
    width: 51px;
    height: 23px;
    left: 309px;
    top: 25px;
}

.card__img {
    border-radius: 5px
}

.card__divider {
    position: absolute;
    width: 377px;
    height: 0px;
    left: 15px;
    top: 93px;
    border: 1px solid var(--white);
}

.card__title {
    padding: 0;
    position: absolute;
    left: 16px;
    top: 98px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card__title-text {
    height: 37px;
    font-family: var(--cairo);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 37px;
}

.card__title-img {
    margin-left: 5.3px;
    width: 11.67px;
    height: 16.14px;
}

.card__caption {
    position: absolute;
    height: 28px;
    left: 16px;
    top: 133px;

    font-family: var(--cairo);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
}

.card__caption-age {
    font-family: var(--genos);
    margin-left: 7.98px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
}

.practice {
    position: absolute;
    top: 172px;
    left: 15px;
}

.list {
    list-style: none;
    height: 29px;

    display: flex;
    align-items: center;
}

.list__racing {
    width: 106px;
}

.list__day {
    margin-left: 35px;
    width: 40px;
    text-align: center;
}

.list__hour {
    margin-left: 56PX;
    width: 101.9px;
    height: 19.62px;
    background: var(--white);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list__hour-practice {
    color: var(--red);
}

.list__hour-practice,
.list__hour-racing {
    font-family: var(--cairo);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
}

.racing {
    position: absolute;
    top: 269px;
    left: 15px;
}

.list__hour-1 {
    background-color: var(--gray);
    color: var(--white);
}

.list__hour-2 {
    background-color: var(--red);
    color: var(--white);
}

.list__hour-racing {
    color: var(--white);
}

.card__footer {
    position: absolute;
    width: 193px;
    left: 80px;
    top: 340px;
}

.card__footer-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

.shadow {
    position: absolute;
    width: 52px;
    height: 29px;
    left: 359px;
    top: 367px;
    background: var(--black);
}